body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: green;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1 {
    font-size: 56px;
    color: #007BFF;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #007BFF;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a, nav ul li button {
    color: #fff;
    text-decoration: underline dashed;
}

section {
    margin: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
